
.recent-orders {
    margin-top: 20px;
    
}

.status-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.status-red {
    background-color: red;
}

.status-orange {
    background-color: orange;
}

.status-green {
    background-color: green;
}